<header id="default">
  <div class="left-side">
    <h1 class="title">NOVA ADMISSÃO COOPERADO</h1>
    <p>Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado</p>
  </div>
  <div class="right-side">
    <div class="notifications">
      <fa-icon [icon]="faBell"></fa-icon>
      <span class="counter">7</span>
    </div>
    <div class="place">
      <button class="default-button">ViaCredi</button>
    </div>
    <div class="profile">
      <div class="avatar">
        <img
          src="https://avatars.githubusercontent.com/u/6256321?v=4"
          width="42"
          height="42"
        />
      </div>
      <div class="icon">
        <fa-icon [icon]="faGear"></fa-icon>
      </div>
    </div>
  </div>
</header>
