$blue: #165c7d;
$white: #fff;

footer {
  &#admission {
    background-color: $white;

    width: calc(100% + 28px);
    max-height: 78px;
    padding: 10px;

    transform: translate(-24px, 24px);

    display: flex;
    align-items: center;

    .button {
      display: flex;
      align-items: center;
      padding: 8px 25px;

      margin-right: 10px;

      font-family: "Open Sans";
      font-weight: 600;
      font-size: 14px;

      &.default {
        border: none;
        background-color: $blue;
        color: $white;
      }

      &.bordered {
        border: 1px solid $blue;
        box-sizing: border-box;
        background-color: $white;
        color: $blue;
      }

      height: 48px;
    }
  }
}
