$nav-background: #165c7d;
$nav-color: #fff;
$nav-secondary-color: #739db1;

$header-background: #fff;
$header-title-color: #101213;
$header-breadcrumb-color: #787878;
$header-color: #125d79;

$default-background: #e7eef1;
