@import "../../scss/variables";

nav {
  &#default {
    width: 60px;
    max-width: 100px;
    height: calc(100vh - 40px);
    padding: 20px;
    background-color: $nav-background;

    #logo {
      margin-bottom: 36px;
    }

    .navigation {
      ul {
        list-style: none;
        li {
          text-align: center;
          margin-bottom: 30px;

          a {
            font-size: 1.7rem;
            color: $nav-color;

            &:hover {
              color: $nav-secondary-color;
            }

            &.inactive {
              color: $nav-secondary-color;
            }
          }
        }
      }
    }
  }
}
