@import "../../scss/variables";

nav {
  &#default {
    width: 60px;
    max-width: 100px;
    height: calc(100vh - 40px);
    padding: 20px;
    background-color: $nav-background;

    display: flex;
    justify-content: center;
  }
}
