<nav id="default">
  <img src="assets/images/logo.png" id="logo" width="60" height="60" />
  <div class="navigation">
    <ul>
      <li>
        <a href="#" class="inactive">
          <fa-icon [icon]="faBars"></fa-icon>
        </a>
      </li>
      <li>
        <a href="#">
          <fa-icon [icon]="faSearch"></fa-icon>
        </a>
      </li>
      <li>
        <a href="#">
          <fa-icon [icon]="faStar"></fa-icon>
        </a>
      </li>
      <li>
        <a href="#">
          <fa-icon [icon]="faComment"></fa-icon>
        </a>
      </li>
      <li>
        <a href="#">
          <fa-icon [icon]="faBank"></fa-icon>
        </a>
      </li>
    </ul>
  </div>
</nav>
