@import "shared/scss/variables";
#main {
  display: flex;

  .left-side {
  }

  .right-side {
    width: 100%;
    background-color: $default-background;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .container {
      flex: 1;
    }
  }
}

@media screen and (max-width: 880px) {
  #main {
    display: block;
  }
}
