$blue: #165c7d;

#breadcrumb {
  width: 50%;
  max-width: 80%;
  margin: 20px auto;

  .breadcrumb {
    &-line {
      width: 95%;
      height: 2px;
      background-color: #c6ced1;

      margin: 20px auto;
    }
    &-values {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 40px;

      .value {
        font-weight: 400;
        font-size: 14px;
        color: #889499;

        position: relative;

        &.active {
          color: $blue;
          &:before {
            border: 2px solid $blue;
          }
        }

        &:before {
          content: "";
          width: 15px;
          height: 15px;
          border-radius: 100%;
          background-color: #c6ced1;
          box-sizing: border-box;

          position: absolute;

          left: calc(50% - 7.5px);
          top: -29px;
        }
      }
    }
  }
}

@media screen and (max-width: 880px) {
  #breadcrumb {
    max-width: 100%;
    width: 100%;

    .breadcrumb {
      &-line {
        width: 100%;
      }
    }
  }
}
